@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    box-sizing: border-box;
    outline: 0;
}   

body {
    margin: 0;
    padding: 0;
    background-color: rgb(9, 211, 211);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

form {
    border-radius: 1px 1px 1px black;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

form input, form label, form button{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    
}

form input {
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid black;
}

form button {
    border: none;
    background-color: rgb(9, 211, 211);
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    border: 1px solid rgb(230, 218, 218);
    transform: scale(1);
}

.relogio {
    font-size: 3em;
}

.pausado { 
    color: red
}

.zerado {
    color: black;
}